body{
    background-color: rgb(2, 2, 36);
}
header {
    background: rgb(47, 56, 73);
    padding: 10px;
    margin-bottom: 10px;
}
article{
    background-color: rgb(2, 2, 36);
    color: rosybrown;
}
aside{
    background-color: rgb(58, 56, 56);
}
footer{
    background-color: darkgoldenrod;
}
#logo {
    background-color: rgb(2, 2, 36);
    margin-top: 30px;
    float:right;
}
.carousel-item{
margin-top: 10px;
margin-bottom: 10px;
margin-left: 200px;
margin-right: 10px;
}
video{
    width: 400px;
}
footer{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: grey;
    background-color: rgb(34, 32, 32);
}