header {
   background-color: rgb(2, 2, 36);
    padding: 10px;
    margin-bottom: 10px;
}

article{
    background-color: rgb(2, 2, 36);
    color: rosybrown;
}

footer{
    background-color: darkgoldenrod;
}
#logo {
    background-color: rgb(2, 2, 36);
    margin-top: 30px;
    text-align: center;
}
.carousel-item{
margin-top: 10px;
margin-bottom: 10px;
margin-left: 200px;
margin-right: 10px;
}
video{
    width: 400px;
}
footer{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(2, 2, 36);
    background-color: rgb(34, 32, 32);
}
#pies{
        text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#fotos{
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 10px;
    margin-right: 10px;
}
